* {
    margin: 0;
    padding: 0;
}

:root {
    --white-color: #ffffff;
    --blue-thales-color: #00a3c9;
    --dark-blue-color: #242a75;
    --black-color: #36393F;
    --grey-color: #9494b4;
    --red-color: #FF0000;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--dark-blue-color);
    font-weight: 700;
    font-size: 1.25em;
}

a:hover {
    color: var(--white-color);
}

nav {
    max-width: 100%;
    width: 100%;
    height: 60px;
    background-color: var(--blue-thales-color);
}

nav>ul>li {
    list-style-type: none;
    text-align: center;
    display: inline-flex;
    padding: 0% 4% 1.5% 2%;
    font-size: 26px;
}

/* *************************************Formulaire***************************************************************** */

#favoris {
    float: right;
    padding: 0% 4% 0 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    height: 40vh;
    background-color: var(--white-color);
}

form {
    max-width: 100%;
    width: 40%;
    height: 25vh;
    border-radius: 20px;
    background-color: var(--dark-blue-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2%;
}

#cont-test {
    text-align: center;
    margin-top: 3%;
}

#test {
    grid-area: 1 / 1 / 2 / 2;
    width: 350px;
    height: 5vh;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
}

#test:focus {
    color: var(--blue-thales-color);
    border-color: var(--black-color);
}

#cont-date {
    margin-top: 2%;
    text-align: center;
}

#date {
    grid-area: 2 / 1 / 3 / 2;
    width: 220px;
    height: 5vh;
    border-radius: 15px;
    color: var(--white-color);
    background-color: var(--black-color);
    font-size: 18px;
}

#date:hover {
    color: var(--blue-thales-color);
    background-color: var(--white-color);
    font-weight: 700;

}

#env {
    text-align: center;
}

#sub {
    grid-area: 3 / 1 / 4 / 2;
    width: 120px;
    height: 5vh;
    border-radius: 15px;
    color: var(--white-color);
    background-color: var(--black-color);
    font-weight: 700;
}

#sub:hover {
    color: var(--blue-thales-color);
    background-color: var(--white-color);
}

input::placeholder {
    color: var(--grey-color);
    opacity: 0.85;
}

/* *************************************Page affichage***************************************************************** */

.aff-trames {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
}

table,
th,
td {
    border: 1px solid;

}