* {
    margin: 0;
    padding: 0;
}

:root {
    --white-color: #ffffff;
    --blue-thales-color: #00a3c9;
    --dark-blue-color: #242a75;
    --black-color: #36393F;
    --grey-color: #9494b4;
    --red-color: #FF0000;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--dark-blue-color);
    font-weight: 700;
    font-size: 1.25em;
}

a:hover {
    color: var(--white-color);
}

nav {
    top: 0;
    max-width: 100%;
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: var(--blue-thales-color);
    z-index: 2;
}

input::submit {
    cursor: pointer;
}

nav>ul>li {
    list-style-type: none;
    text-align: center;
    display: inline-flex;
    padding: 0% 4% 1.5% 2%;
    font-size: 26px;
    position: relative;
    padding-top : 2%;
}

/* *************************************Formulaire***************************************************************** */


#favoris {
    float: right;
    padding: 2% 4% 0 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    height: 40vh;
    background-color: var(--white-color);
}

form {
    
    max-width: 100%;
    width: 40%;
    height: 25vh;
    border-radius: 20px;
    background-color: var(--dark-blue-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2%;
}
#fic-date{
    height: 30vh;
}


#cont-test {
    text-align: center;
    margin-top: 3%;
}

#test {
    grid-area: 1 / 1 / 2 / 2;
    width: 350px;
    height: 5vh;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

#test:focus {
    color: var(--blue-thales-color);
    border-color: var(--black-color);
}

#cont-date {
    margin-top: 2%;
    text-align: center;
}

#date {
    grid-area: 2 / 1 / 3 / 2;
    width: 220px;
    height: 5vh;
    text-align: center;
    border-radius: 15px;
    color: var(--white-color);
    background-color: var(--black-color);
    font-size: 18px;
}

#date:hover {
    color: var(--blue-thales-color);
    background-color: var(--white-color);
    font-weight: 700;

}

#env {
    flex-direction: row;
    text-align: center;
}
#suppr{
    flex-direction: row;
    text-align: center;
    padding-bottom: 2%;
}
#sup{
    grid-area: 3 / 1 / 4 / 2;
    width: 120px;
    height: 5vh;
    border-radius: 15px;
    color: var(--white-color);
    background-color: var(--red-color);
    font-weight: 700;
}
#sup:hover {
    color: var(--red-color);
    background-color: var(--white-color);
}
#sub {
    grid-area: 3 / 1 / 4 / 2;
    width: 120px;
    height: 5vh;
    border-radius: 15px;
    color: var(--white-color);
    background-color: var(--black-color);
    font-weight: 700;
}

#sub:hover {
    color: var(--blue-thales-color);
    background-color: var(--white-color);
}

input::placeholder {
    color: var(--grey-color);
    opacity: 0.85;
}

/* *************************************Page affichage***************************************************************** */
#form-filtre {
    width: 15%;
    position: relative;
    height: 50%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 20%);
    display: flex;
    align-items:center;
  justify-content:center;
  flex-direction: column;
}

#filtre {
    text-align: center;
    height: 5vh;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}


#btn-filtre {
    margin-bottom:1.15rem;
    width: 50%;
}

#headTrame {
    list-style-type: none;
    text-align: center;
    position: relative;
    display: inline-flex;
    padding: 0% 2% 2% 2%;
    font-size: 18px;
}

#titre-trame {
    font-size: 24px;
    padding-top: 2%;
    font-weight: bold;
    color: var(--dark-blue-color);
    padding-bottom: 1%;
}

#aff-trames {
    max-width: 100%;
    width: 100%;
    margin: 10% 0 4% 0;
}

table {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

table,
th,
td {
    border: .5px solid;
}

th {
    background-color: var(--dark-blue-color);
    color: var(--white-color);
}

td {
    background-color: var(--white-color);
    color: var(--dark-blue-color);
    text-align: center;

}
.clicked{
    background-color: violet;
}
td:hover{
    scale: 1.25 ;
    transition: all ease-in-out .25s;
}
#aff-page {
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: var(--blue-thales-color);
    margin: auto;
    text-align: center;

}

#aff-num {
    padding: 0 .55% 0 .55%;
}

/* *************************************config page******************************************************** */
#container-conf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 40vh;
    background-color: var(--white-color);
}

#form-conf {
    max-width: 100%;
    max-height: 240%;
    margin-top: 20%;
    width: 80%;
    height: 210%;
    border-radius: 20px;
    background-color: var(--dark-blue-color);
}

#parent {
    display: grid;
    left: 50%;
    transform: translate(15%, 0%);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    width: 70%;
    height: 100%;

}

label {
    color: var(--white-color);
}

#f-child {
    margin-top: auto;
    place-items: center;
    margin-left: 5%;
    grid-area: 1 / 1 / 2 / 2;
}

#s-child {
    margin-top: auto;
    place-items: center;
    grid-area: 1 / 2 / 2 / 3;
}

#t-child {
    margin-top: auto;
    place-items: center;
    grid-area: 1 / 3 / 2 / 4;
}

#fo-child {
    margin-top: auto;
    grid-area: 1 / 4 / 2 / 5;
}

#env-conf {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}